:root {
    font-size: 16px;
    --primary: #FFD95C;
    --secondary: #0B0B0B;
    --white: #F8F8F8;
    --deep-black: #11110E;
    --light-grey: #979797;
    --black75: rgb(37, 36, 31, 0.75);
}

/* @media screen and (min-width: 768px) {
    :root {
        font-size: 20px;
    }
} */

body {
    color: var(--white);
    background-color: var(--secondary);
    font-family: 'roboto';
    font-size: 1rem;
}

/* Fonts */

@font-face {
    font-family: 'roboto';
    src: url(/fonts/roboto-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url(/fonts/roboto-bold-webfont.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'khyay';
    src: url(/fonts/khyay-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oooh-baby';
    src: url(/fonts/ooohbaby-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* RESET  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Utils */

.users-counter {
    font-size: 1.25rem;
    color: var(--white);
    border: 2px solid var(--primary);
    padding: 0.5rem;
}

.users-counter__img {
    padding-top: 1.5rem;
    border-radius: 100%;
}

.page-content {
    background-image: url(/img/background-dark-pages.webp);
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: 0.10rem;
    padding-bottom: 4rem;
}

.content-position {
    margin-top: 5.2rem;
}

.txt--bigger {
    font-size: 1.25rem;
    color: var(--white);
}

.txt--primary {
    color: var(--primary);
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Swiper */

.swiper {
    display: flex;
    overflow-x: scroll;
    margin-top: 1.5rem;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 1.25rem 0 1.25rem;
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container__desktop {
        display: grid;
        grid-template:
            "counter form"
            "concept dices"
            "concept dices"
            / 1fr 1fr;
        width: 1350px;
        margin: auto;
    }


    .grid-counter {
        grid-area: counter;
    }

    .grid-form {
        grid-area: form;
    }

    .grid-concept {
        grid-area: concept;
    }

    .grid-dices {
        grid-area: dices;
    }

    .container__header {
        width: 83rem;
        margin: auto;
    }
}

/* Hero-Banner */

.hero-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/hero-banner-texture.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2rem;
    border-bottom: 1px solid #FFD95C;
}

.hero-banner--smaller {
    height: 45vh;
}

.hero-banner__img {
    width: min(100vmin, 500px);
    margin-top: -3rem;
}

.hero-banner__img--smaller {
    width: min(40vmin);
    margin-top: -2.5rem;

}

.hero-banner__btn {
    background-color: var(--primary);
    font-size: 5rem;
    font-weight: 900;
    width: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    transition: all 300ms ease-in-out;
}


.hero-banner__btn:hover {
    background-color: var(--white);
    filter: drop-shadow(0 0 1rem var(--primary));
}

@media screen and (min-width: 768px) {
    .hero-banner__btn {
        width: 4rem;
    }
}

@media screen and (min-width: 1224px) {
    .hero-banner__img {
        width: min(60vmin, 500px);
    }
}

@media screen and (min-width: 1824px) {
    .hero-banner__img {
        width: min(100vmin, 600px);
    }
}

/* Logo */

.logo__ttl {
    font-family: 'khyay';
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: -1rem;
}

.logo__ttl--smaller {
    margin-top: -0.5rem;
}

.logo__tagline {
    font-family: 'oooh-baby';
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .logo__ttl {
        font-size: 3.5rem;
    }

    .logo__ttl--smaller {
        font-size: 1.75rem;
    }

    .logo__tagline {
        font-size: 2.75rem;
    }
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 1rem;
    background-color: var(--black75);
}

.header__ttl {
    font-family: 'khyay';
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 0.25rem;
}

.header__img {
    max-width: 3rem;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 0.5rem;
        border-bottom: 2px solid var(--primary);
    }

    .header__ttl {
        font-size: 2rem;
    }
}

/* Hamburger */

@media screen and (max-width: 768px) {
    .hamburger__link {
        font-size: 1.25rem;
    }

    .hamburger__menu {
        z-index: 1;
        min-width: 100%;
        min-height: 22.5rem;
        position: fixed;
        top: 5rem;
        left: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        padding-top: 1.25rem;
        transition: all 0.3s ease-in-out;
    }

    .hamburger__menu.overlay {
        visibility: visible;
        opacity: 1;
        background: var(--black75);
        line-height: 4;
    }
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

/* Nav */

.nav__btn {
    font-size: 3rem;
}

.nav__lnk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 0 6rem;
}

.nav__avatar {
    height: 100%;
    /* margin-top: 0.75rem; */
}

.nav__lnk--current {
    font-weight: bold;
    color: var(--primary);
}

@media screen and (min-width: 768px) {
    .nav__lst {
        display: flex;
        align-items: center;
    }

    .nav__lnk {
        margin: 0 2rem;
    }

    .nav__lnk:hover {
        color: var(--primary);
    }

}

/* Links */

.lnk--underlined {
    border-bottom: 1px solid var(--white);
}

.lnk--underlined:hover {
    color: var(--primary);
    border-color: var(--primary);
}

/* Titles */

.ttl {
    font-family: 'khyay';
    font-size: 1.25rem;
    padding: 4rem 0 1.5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.ttl--big {
    font-family: 'khyay';
    font-size: 1.5rem;
}

.ttl--small {
    font-size: 1rem;
}

.ttl--primary {
    color: var(--primary);
}

/* Concept */

.concept-dice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.concept-dice__txt {
    text-align: center;
    padding-top: 1.5rem;
}

.concept-dice__sub-ttl {
    padding-top: 1.5rem;
}

@media screen and (min-width: 768px) {
    .concept-dice__container {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: baseline;
        justify-content: center;
        width: 440px;
        margin: auto;
    }
}

/* Buttons */

.button {
    width: 17rem;
    padding: 1rem 0.75rem;
    font-size: 1.25rem;
    font-family: 'roboto';
    border-radius: 1.25rem;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--secondary);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.button:hover {
    filter: drop-shadow(0 0 0.75rem var(--primary));
    border-color: var(--primary);
}

.button--empty {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.button--minus {
    /* color: var(--secondary);
    font-weight: 900;
    font-size: 1.5rem; */
    width: 1rem;
    height: 1rem;
    background-image: url(/img/minus-btn.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Forms */

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.form__itm {
    display: flex;
    flex-direction: column;
}

.form__itm--box {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
}

.form__radio {
    appearance: none;
    content: url(/img/radiobox.svg);
    cursor: pointer;
}

.form__radio:hover {
    filter: drop-shadow(0 0 0.75rem var(--primary));
}

.form__radio:checked {
    content: url(/img/radiobox-checked.svg);
    filter: drop-shadow(0 0 0.75rem var(--primary));
}

.form__question {
    padding: 0.75rem;
}

/* Inputs */

.input {
    appearance: none;
    width: 20.5rem;
    font-size: 1.25rem;
    background-color: var(--white);
    padding: 1rem;
    cursor: pointer;
}

input::placeholder {
    font-size: 1.25rem;
    color: var(--light-grey);
    line-height: 0;
}

input:focus-visible {
    outline-color: var(--primary);
}

.input__label {
    padding: 0 0.75rem 0.75rem 0.75rem;
}

.input__required {
    color: var(--primary);
}

.input__required--txt {
    font-size: 0.75rem;
    padding: 1.5rem;
}

.input__select {
    position: relative;
}

@media screen and (min-width: 768px) {
    .input {
        width: 23.75rem;
    }

    .input__select {
        width: auto;
    }
}

/* Favourites list */

.favourites {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--secondary);
}

/* Connection bar */

.connection-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    padding: 0.5rem 1.25rem;
    margin-top: 5.2rem;
}

@media screen and (max-width: 768px) {
    .connection-bar__button {
        width: 10rem;
    }
}

@media screen and (min-width: 768px) {
    .connection-bar {
        margin-top: 4.5rem;
        gap: 3rem;
    }
}

/* Friend suggestion */

.friend-suggestion {
    display: flex;
    gap: 1rem;
    padding: 0.75rem;
    text-align: center;
    background-color: var(--deep-black);
    border: 2px solid var(--primary);
    margin: 2rem 0;
}

.friend-suggestion__users {
    display: flex;
    gap: 4rem;
}

.friend-suggestion__rolist {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

/* Rolist Items */

.rolist-icon {
    width: 3.25rem;
}

.avatar {
    width: 4rem;
    aspect-ratio: 1;
}

.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;
}

.party {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 20rem;
    border: 2px solid var(--primary);
    padding: 0.5rem;
}

.party__img {
    width: 20rem;
    border: 2px solid var(--primary);
}

.party__page-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .avatar {
        width: 3rem;
    }
}

/* Suggestions */

.suggestions {
    z-index: 1;
    width: 20.5rem;
    background-color: var(--black75);
    border-bottom: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    border-left: 1px solid var(--primary);
    cursor: pointer;
}

.suggestions__itm:hover {
    background-color: var(--primary);
    color: var(--secondary);
}

@media screen and (min-width: 768px) {
    .suggestions {
        width: 30.70rem;
    }
}

/* Filter */

.filter {
    text-align: left;
    font-family: 'roboto';
    border: 2px solid var(--primary);
    padding: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    background-image: url(/img/filter.svg);
    background-repeat: no-repeat;
    background-position: right 1.5rem bottom 1.15rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .filter {
        width: 19rem;
    }
}

/* Footer */

.footer {
    background-color: var(--deep-black);
    padding-bottom: 1.5rem;
}

.footer__social {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 1rem 0rem 1rem;
    border-top: 2px solid var(--primary);
}

.footer__social-link:hover {
    filter: drop-shadow(0 0 0.75rem var(--primary));
}

.footer-legal {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 1.5rem;
}

.footer-legal__lnk:hover {
    color: var(--primary);
}

@media screen and (min-width: 768px) {
    .footer__social {
        justify-content: center;
        gap: 1rem;
    }
}