// COLORS
$primary: #FB9179;
$secondary: #BDBF09;
$dark-grey: #313335;
$dark-grey-transparent: rgba(49, 51, 53, 0.7);
$light-grey: #7A8085;
$error: #A02828;
$black: #151617;
$white: #fff;
$instagram: #AC2BAC;
$facebook: #3B5998;
$twitter: #55ACEE;

// SIZES
$width-container: 1350px;

// BREAKPOINTS
$breakpoint-md: 768px;

// TRANSITIONS
$trans: 300ms;