@use 'var' as var;
// BODY //

body {
  // font-family: 'roboto';
  font-family: 'english';
  font-size: 1rem;
  background-color: var.$black90;
  background-image: url(/img/background.webp);
  background-position: top, left;
  background-size: cover;
  background-attachment: fixed;
  color: var.$white;
  cursor: default;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var.$secondary;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var.$electric;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var.$secondary;
  /* creates padding around scroll thumb */
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var.$electric var.$secondary;
}

// @media screen and (max-width: 768px) {
//   body::-webkit-scrollbar-track {
//     background: var.$secondary;
//   }

//   body::-webkit-scrollbar-thumb {
//     background-color: var.$secondary;
//   }

// * {
//   scrollbar-color: var.$secondary var.$secondary;
// }
// }