/* Fonts */

@font-face {
    font-family: 'roboto';
    src: url(/fonts/roboto-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url(/fonts/roboto-bold-webfont.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'khyay';
    src: url(/fonts/khyay-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oooh-baby';
    src: url(/fonts/ooohbaby-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Fonts Dice */

@font-face {
    font-family: 'english';
    src: url(fonts/imfellenglish-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'messiri';
    src: url(fonts/elmessiri-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}