main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--header-height);
    min-height: 71vh;
    position: relative;

    @media screen and (max-width: 768px) {
        & {
            margin-top: 0;
        }
    }
}