main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 71vh;
    position: relative;
    padding-bottom: 4rem;

    @media screen and (max-width: 768px) {
        & {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 1500px) {
        & {
            min-height: 79vh;
        }
    }
}

#higher-main {
    margin-top: var(--header-height);
}

#higher-main-profile {
    @media screen and (max-width: 768px) {
        & {
            margin-top: 3rem;
        }
    }
}