/* Colours */

$black90: rgba(0, 0, 0, 0.90);
$black75: rgb(37, 36, 31, 0.75);
$black50: rgb(37, 36, 31, 0.5);
$black20: rgba(0, 0, 0, 0.2);

$gold: #FFE03F;
$zinzolin: #C62148;
// $electric: #08ceff;
// Magenta a little too purple
// $electric: #ff08f0;
// $electric80: rgba(255, 8, 240, 0.8);
// $electric50: rgba(255, 8, 240, 0.5);
// $electric40: rgba(255, 8, 240, 0.4);
// $electric30: rgba(255, 8, 240, 0.4);

// Magenta lighter, nicer
$electric: #FF33CC;
$electric80: rgba(255, 51, 204, 0.8);
$electric60: rgba(255, 51, 204, 0.6);
$electric50: rgba(255, 51, 204, 0.5);
$electric40: rgba(255, 51, 204, 0.4);
$electric30: rgba(255, 51, 204, 0.4);

$electricBlue: #08ceff;
// $primary: #FFD95C;
$secondary: #0B0B0B;
$white: #F8F8F8;
$deep-black: #11110E;
$light-grey: #979797;
// $zinzolin: #A72E47;
$gnome: #BFFF8C;

// PROFIL COLOURS

$dice100: #5196E4;
$dice20: #884DAC;
$dice12: #4DDC7B;
$dice8: #D98A46;
$dice4: #DC8CAE;

$background : url(../img/background.webp);