/* Colours */

$primary: #FFD95C;
$secondary: #0B0B0B;
$white: #F8F8F8;
$deep-black: #11110E;
$light-grey: #979797;
$black75: rgb(37, 36, 31, 0.75);

// PROFIL COLOURS

$dice100: #5196E4;
$dice20: #884DAC;
$dice12: #4DDC7B;
$dice8: #D98A46;
$dice4: #DC8CAE;
