/* RESET  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

:root {
  font-size: 16px;
}

/* Fonts */
@font-face {
  font-family: "roboto";
  src: url(/fonts/roboto-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url(/fonts/roboto-bold-webfont.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "khyay";
  src: url(/fonts/khyay-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "oooh-baby";
  src: url(/fonts/ooohbaby-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  color: var(--white);
  background-color: var(--secondary);
  font-family: "roboto";
  font-size: 1rem;
}

/* Hero-Banner */
.hero-banner {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(/img/hero-banner-texture.webp);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 2rem;
  border-bottom: 1px solid #FFD95C;
}

.hero-banner--smaller {
  height: 45vh;
}

.hero-banner__img {
  width: min(100vmin, 500px);
  margin-top: -3rem;
}

.hero-banner__img--smaller {
  width: 40vmin;
  margin-top: -2.5rem;
}

.hero-banner__btn {
  background-color: var(--primary);
  font-size: 5rem;
  font-weight: 900;
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.hero-banner__btn:hover {
  background-color: var(--white);
  filter: drop-shadow(0 0 1rem var(--primary));
}

@media screen and (min-width: 1224px) {
  .hero-banner__img {
    width: min(60vmin, 500px);
  }
}
@media screen and (min-width: 1824px) {
  .hero-banner__img {
    width: min(100vmin, 600px);
  }
}
/* Logo */
.logo__ttl {
  font-family: "khyay";
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: -1rem;
}

.logo__ttl--smaller {
  margin-top: -0.5rem;
}

.logo__tagline {
  font-family: "oooh-baby";
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .logo__ttl {
    font-size: 3.5rem;
  }
  .logo__ttl--smaller {
    font-size: 1.75rem;
  }
  .logo__tagline {
    font-size: 2.75rem;
  }
}
/* Utils */
.users-counter {
  font-size: 1.25rem;
  color: var(--white);
  border: 2px solid var(--primary);
  padding: 0.5rem;
}

.users-counter__img {
  padding-top: 1.5rem;
  border-radius: 100%;
}

.page-content {
  background-image: url(/img/background-dark-pages.webp);
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 0.1rem;
  padding-bottom: 4rem;
}

.content-position {
  margin-top: 5.2rem;
}

.txt--bigger {
  font-size: 1.25rem;
  color: var(--white);
}

.txt--primary {
  color: var(--primary);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

/* Swiper */
.swiper {
  display: flex;
  overflow-x: scroll;
  margin-top: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1.25rem 0 1.25rem;
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container__desktop {
    display: grid;
    grid-template: "counter form" "concept dices" "concept dices"/1fr 1fr;
    width: 1350px;
    margin: auto;
  }
  .grid-counter {
    grid-area: counter;
  }
  .grid-form {
    grid-area: form;
  }
  .grid-concept {
    grid-area: concept;
  }
  .grid-dices {
    grid-area: dices;
  }
  .container__header {
    width: 83rem;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */