@use '../var' as var;

.character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: var.$secondary;
    box-shadow: 3px 4px 6px var.$black50;
    /* Ombre légère par défaut */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px var.$electric50;
        /* Ombre forte lors du survol */
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @media screen and (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }
    }

    // SHEET
    &-sheet {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 5;
        padding: 2rem;
        top: 5.5rem;
        background-color: var.$secondary;
        width: 30rem;
        right: -35%;

        @media screen and (max-width: 768px) {
            & {
                width: 100%;
            }
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }

        &__img {
            width: 15rem;
            aspect-ratio: 1;
            border-radius: 4rem;
        }

        &__bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 2rem;
            border: 2px solid var.$black75;
            border-radius: 1rem;
            font-size: 2rem;
        }

        &__health {
            background-color: var.$zinzolin;
        }

        &__mana {
            background-color: var.$electricBlue;
        }

        &__name {
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        &__stats {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            width: 100%;
            padding: 1rem 0.5rem;

            &__points {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                gap: 0.5rem;
            }

            &--pv {
                color: var.$zinzolin;
            }

            &--mana {
                color: var.$electricBlue;
            }
        }

        &__wallet {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            &-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                padding: 1rem;
                margin: 0 1rem;
                border-radius: 2rem;
            }
        }

        &__coins {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0rem;
            width: 100%;

            &--amount {
                font-size: 2rem;
            }
        }
    }

    // SHEET END
}

.coin {
    width: 4rem;
    aspect-ratio: 1;
}

/* Character sheet */
#health-bar,
#mana-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}