@use '../var' as var;

/* Character sheet */
.character-sheet {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 100;
    padding: 2rem;
    top: 5.5rem;
    background-color: var.$secondary;
    width: 30rem;

    @media screen and (max-width: 768px) {
        & {
            width: 100%;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    &__bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2rem;
        border: 2px solid var.$black75;
        border-radius: 1rem;
        font-size: 2rem;
    }

    &__health {
        background-color: var.$zinzolin;
    }

    &__mana {
        background-color: var.$electric;
    }

    &__name {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        padding: 1rem 0.5rem;

        &__points {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            gap: 0.5rem;
        }

        &--pv {
            color: var.$zinzolin;
        }

        &--mana {
            color: var.$electric;
        }
    }
}

#health-bar,
#mana-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}