/* Concept */

.concept {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;

    @media screen and (max-width: 768px) {
        & {
            margin: 0;
        }
    }

    &__para {
        text-align: left;
        width: 75%;
        font-size: 1.5rem;
    }

    &-dice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        cursor: pointer;

        &__txt {
            text-align: center;
        }

        &__sub-ttl {
            font-size: 1.25rem;
        }

        @media screen and (min-width: 768px) {
            &__container {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: center;
                gap: 8rem;
                //     width: 84.375rem;
                //     margin: auto;
            }
        }
    }
}