@use '../var' as var;

/* Connection bar */

.connection-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    gap: 2rem;
    border-top: 2px solid var.$electric;
    border-bottom: 2px solid var.$electric;
    padding: 0.5rem 1.25rem;
    margin-top: 5.2rem;
    
    @media screen and (max-width: 768px) {
        &__button {
            width: 10rem;
        }
    }
    
    @media screen and (min-width: 768px) {
        & {
            margin-top: 4.5rem;
            gap: 3rem;
        }
    }
}
