/* Concept */

.concept-dice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    &__txt {
        text-align: center;
        padding-top: 1.5rem;
    }
    
    &__sub-ttl {
        padding-top: 1.5rem;
    }
    
    @media screen and (min-width: 768px) {
        &__container {
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 8rem;
            width: 84.375rem;
            margin: auto;
        }
    }
}
