@use '../var' as var;

.dice {
    width: 14rem;

    &:hover {
        filter: drop-shadow(0 0 10px var.$electric, 0 0 12px var.$electric);
    }

    &--100 {
        width: 18rem;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;
    }

    &__word {
        word-spacing: 0.5rem;
    }

    &__banner {
        position: absolute;
        background-color: var.$black90;
        width: 100vw;
        padding: 1rem;
        text-align: center;
        font-family: 'messiri';
        font-size: 3rem;
        top: 40%;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity 2s ease-in-out, visibility 0s 1s;

        &--visible {
            opacity: 1;
            visibility: visible;
        }

        @media screen and (min-width: 768px) {
            width: 100%;
            border-radius: 2rem;
        }
    }

    &__rolling {
        animation: rollDice 1.5s linear;
    }

    &--crit {
        color: var.$gold;
    }

    &--fail {
        color: var.$zinzolin;
    }

    &--normal {
        color: var.$white;
    }
}

#bodyDice {
    position: relative;
}