@use "../var" as var;

/* Dice Roller */

.diceroller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}