@use '../var' as var;

.errorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    height: 80vh;

    @media screen and (max-width: 768px) {
       padding: 1.5rem;
       text-align: center;
    }

    &__code {
        font-size: 5rem;
        text-transform: uppercase;
        animation: shivering 1s infinite;
    }

    &__para {
        font-size: 2rem;
    }
}