/* Filter */

.filter {
    text-align: left;
    font-family: 'roboto';
    border: 2px solid $primary;
    padding: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    background-image: url(/img/filter.svg);
    background-repeat: no-repeat;
    background-position: right 1.5rem bottom 1.15rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .filter {
        width: 19rem;
    }
}