@use '../var' as var;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var.$black20;
    padding: 1.5rem;
    font-size: 1.25rem;

    &__social {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        padding: 1.5rem 1rem 0rem 1rem;
    }

    &__legal {
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        padding: 1.5rem 1rem 0rem 1rem;
    }
}