@use '../var' as var;

/* Forms */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &--connection {
        width: 100%;
        height: 100%;
        padding: 2rem;
        border-radius: 1rem;
        margin: 2rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin-top: 1.5rem;
    }

    &__itm {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__itm--box {
        display: flex;
        padding: 1rem 0;
        gap: 1rem;
    }

    &__radio {
        appearance: none;
        content: url(/img/radiobox.svg);
        cursor: pointer;
    }

    &__radio:hover {
        filter: drop-shadow(0 0 0.75rem var.$electric);
    }

    &__radio:checked {
        content: url(/img/radiobox-checked.svg);
        filter: drop-shadow(0 0 0.75rem var.$electric);
    }

    &__question {
        padding: 0.75rem;
    }

    @media screen and (max-width: 768px) {
        &__itm--select {
            align-items: center;
        }
    }
}

.hidden {
    display: none;
}