@use '../var' as var;

/* Hamburger */

.hamburger {
    @media screen and (max-width: 768px) {
        &__link {
            font-size: 1.25rem;
        }
    
        &__menu {
            z-index: 200;
            min-width: 100%;
            min-height: fit-content;
            position: fixed;
            top: 5rem;
            left: 0;
            height: 0;
            visibility: hidden;
            opacity: 0;
            text-align: center;
            padding-top: 1.25rem;
            transition: all 0.3s ease-in-out;
        }
    
        &__menu.overlay {
            visibility: visible;
            opacity: 1;
            background: var.$black90;
            line-height: 4;
        }
    }
    
    @media screen and (min-width: 764px) {
        & {
            display: none;
        }
    }
}
