@use '../var' as var;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var.$black20 !important;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;

    @media screen and (min-width: 764px) {
        justify-content: space-between;
    }
}