.larp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__itm {
        background-color: $deep-black;
        width: 100%;
    }

    &__img{
        width: 30rem;
    }
}