/* Links */

.lnk {
    &:hover {
        color: $primary;
    }

    &--underlined {
        border-bottom: 1px solid $white;
    }

    &--underlined:hover {
        color: $primary;
        border-color: $primary;
    }
}