@use '../var' as var;
@use '../fonts' as fonts;

/* Logo */

.logo {
    &__ttl {
        // font-family: 'khyay';
        font-size: 2rem;
        text-transform: uppercase;
        margin-top: -1rem;
        color: var.$white;
        text-align: center;
    }

    &__ttl--smaller {
        margin-top: -0.5rem;
    }

    &__tagline {
        // font-family: 'oooh-baby';
        font-size: 1.5rem;
    }

    @media screen and (min-width: 768px) {
        &__ttl {
            font-size: 3.5rem;
        }

        &__ttl--smaller {
            font-size: 1.75rem;
        }

        &__tagline {
            font-size: 2.75rem;
        }
    }
}