/* Nav */

.nav {
    &__btn {
        font-size: 3rem;
    }

    &__lnk {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-right: 7rem;
    }

    &__avatar {
        height: 100%;
        border: 4px solid $dice100;
        border-radius: 100%;
        width: 3rem;
        /* margin-top: 0.75rem; */
    }

    &__lnk--current {
        font-weight: bold;
        color: $primary;
    }

    &__itm {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 0 6rem;
        gap: 2rem;
    }

    @media screen and (min-width: 768px) {

        &__lst {
            display: flex;
            align-items: center;
            gap: 2rem;
        }

        &__itm {
            margin: 0;
            gap: 0.5rem;
        }

        &__lnk {
            margin: 0;
        }

        &__lnk:hover {
            color: $primary;
        }

        &__account-link {
            color: $primary;
        }

        &__account-avatar {
            border: 4px solid $primary;
        }
    }
}