@use '../var' as var;

.notif {
    font-size: 1.75rem;
    padding: 2rem;

    &--error {
        display: flex;
        justify-content: center;
        color: var.$electric;
    }

    &--success {
        color: var.$gnome;
    }
}