@use '../var' as var;

/* Party */

.party {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 20rem;
    height: 14rem;
    border: 2px solid var.$electric;
    padding: 0.5rem;
    background-color: var.$secondary;

    &__universe {
        font-size: 1rem;
        width: 100%;
        color: var.$electric;
    }

    &__players {
        display: flex;
        width: 100%;
        font-size: 1.25rem;
        gap: 2rem;
        padding: 1rem 0 0.5rem 0;
    }

    &__img {
        width: 20rem;
        height: 50vh;
        border: 2px solid var.$electric;
    }

    &__ttl {
        max-width: 15.625rem;
        font-size: 1.25rem;
    }

    &__page-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}