/* Rolist Items */

.rolist-icon {
    width: 3.25rem;
}

.avatar {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100%;

    &--dice100 {
        border: 4px solid $dice100;
        filter: drop-shadow(0 0 0.75rem $dice100);
    }

    &--dice20 {
        border: 4px solid $dice20;
        filter: drop-shadow(0 0 0.75rem $dice20);
    }

    &--dice12 {
        border: 4px solid $dice12;
        filter: drop-shadow(0 0 0.75rem $dice12);
    }

    &--dice8 {
        border: 4px solid $dice8;
        filter: drop-shadow(0 0 0.75rem $dice8);
    }

    &--dice4 {
        border: 4px solid $dice4;
        filter: drop-shadow(0 0 0.75rem $dice4);
    }

    &__lnk {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 0 6rem;
    }



    @media screen and (min-width: 768px) {
        & {
            width: 3rem;
        }

        &__lnk:hover {
            color: $primary;
        }
    }
}


.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;

    &__name {
        padding: 1.5rem;
    }

    &__profil-dice {
        padding: 1.5rem 0;
        width: 6.5rem;
    }

    &__avatar {
        width: 8.5rem;
        background-color: $secondary;
    }

    &__bio {
        text-align: left;

        &-container {
            justify-content: flex-start;
            max-width: 40rem;
            background-color: $secondary;
            padding: 2rem;
            margin: 2rem 0;
            filter: drop-shadow(0 0 0.75rem $primary);
        }

    }

    @media screen and (max-width: 768px) {

        &__infos {
            margin-top: 5rem;
        }
    }
}