@use '../var' as var;

/* Rolist Items */

.rolist-icon {
    width: 3.25rem;
}

.avatar {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 100%;

    &--dice100 {
        border: 4px solid var.$dice100;
        filter: drop-shadow(0 0 0.75rem var.$dice100);
    }

    &--dice20 {
        border: 4px solid var.$dice20;
        filter: drop-shadow(0 0 0.75rem var.$dice20);
    }

    &--dice12 {
        border: 4px solid var.$dice12;
        filter: drop-shadow(0 0 0.75rem var.$dice12);
    }

    &--dice8 {
        border: 4px solid var.$dice8;
        filter: drop-shadow(0 0 0.75rem var.$dice8);
    }

    &--dice4 {
        border: 4px solid var.$dice4;
        filter: drop-shadow(0 0 0.75rem var.$dice4);
    }

    &__lnk {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin: 0 6rem;
    }



    @media screen and (min-width: 768px) {
        & {
            width: 3rem;
        }

        &__lnk:hover {
            color: var.$electric;
        }
    }
}


.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem;

    &__name {
        padding: 1.5rem;
        text-transform: uppercase;
    }

    &__profil-dice {
        padding: 1.5rem 0;
        width: 6.5rem;
    }

    &__avatar {
        width: 8.5rem;
        background-color: var.$secondary;
    }

    &__bio {
        text-align: left;
        padding: 1rem;

        &__ttl {
            text-transform: uppercase;
            font-size: 1.5rem;

            @media screen and (max-width: 768px) {
                & {
                    text-align: center;
                }
            }
        }

        &-container {
            justify-content: flex-start;
            max-width: 40rem;
            background-color: var.$secondary;
            padding: 2rem;
            margin: 2rem 0;
            filter: drop-shadow(0 0 0.75rem var.$electric);

            @media screen and (max-width: 768px) {
                & {
                    padding: 1rem;
                    max-width: 95vw;
                }
            }
        }

    }

    @media screen and (max-width: 768px) {

        &__infos {
            margin-top: 5rem;
        }
    }
}