/* Suggestions */

.suggestions {
    position: absolute;
    z-index: 1;
    bottom: -188%;
    width: 20.5rem;
    background-color: $black75;
    border-bottom: 1px solid $primary;
    border-right: 1px solid $primary;
    border-left: 1px solid $primary;
    cursor: pointer;



    &__input {
        position: relative;
    }

    &__itm:hover {
        background-color: $primary;
        color: $secondary;
    }

    @media screen and (min-width: 768px) {
        & {
            width: 30rem;
            bottom: -30%;
        }

        &__input {
            width: 30rem;
        }
    }

    @media screen and (min-width: 1224px) {
        & {
            bottom: -74%;
        }
    }

    @media screen and (min-width: 1824px) {
        & {
            bottom: -30%;
        }
    }

    @media screen and (max-width: 700px) {
        & {
            bottom: -114.5%;
        }

        &--my-account {
            bottom: -25%;
        }
    }
}