.ttl {
    font-family: 'english';
    font-size: 2rem;
    text-transform: uppercase;

    &--main {
        font-size: 2rem;
        transition: all 0.25s ease-in-out;
        text-transform: capitalize;

        &:hover {
            text-shadow: 0 0 10px #ff08f0, 0 0 12px #ff08f0;
        }
    }

    &--small {
        font-size: 1.5rem;
    }

    &--center {
        text-align: center;
    }
}