/* Titles */

.ttl {
    font-family: 'khyay';
    font-size: 1.25rem;
    padding: 4rem 0 1.5rem 0;
    text-align: center;
    text-transform: uppercase;

    &--no-padding-top {
        padding: 0 0 1.5rem 0;
    }

    &--big {
        font-family: 'khyay';
        font-size: 1.5rem;
    }

    &--small {
        font-size: 1rem;
    }

    &--primary {
        color: $primary;
    }

    &--CRUD {
        padding: 1.5rem 0;
    }
}