@use '../var' as var;

.ttl {
    font-family: 'english';
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

    &--main {
        font-size: 2rem;
        transition: all 0.25s ease-in-out;
        text-transform: capitalize;

        &:hover {
            text-shadow: 0 0 10px var.$electric, 0 0 12px var.$electric;
        }
    }

    &--small {
        font-size: 1.5rem;
    }

    &--center {
        text-align: center;
    }
}