@use '../var' as var;

/* Utils */

.users-counter {
    font-size: 1.25rem;
    color: var.$white;
    border: 2px solid var.$electric;
    padding: 0.5rem;

    &__img {
        padding-top: 1.5rem;
        border-radius: 100%;
    }
}

.txt {
    &--bigger {
        font-size: 1.25rem;
        color: var.$white;
    }

    &--primary {
        color: var.$electric;
    }

    &--shivering {
        animation: shivering 1s infinite;
    }
}

.page-content {
    // background-image: url(/img/background-img-clearer.webp);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.10rem;
    gap: 2rem;

    @media screen and (max-width: 768px) {
        & {
            margin: 1rem;
        }
}
}

.content-position {
    margin-top: 5.2rem;
}

.show {
    display: block;
}

.separator {

    @media screen and (min-width: 768px) {
        &--horizontal {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        &--vertical {
            display: none;
        }
    }
}