.hero-banner {
    @extend %background-dark;

    height: 100vh;
    background-position: top;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}

.hero-banner__img {
    width: min(38vmin, 500px);
}